/* Soluzione qui */
@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
    
    /* header */
    #topbar{
        justify-content: flex-start;
    }

    
}

@media screen and (min-width: 992px) {
    
}
