/* Soluzione qui */

/* bonus */
@media screen and (min-width: 576px) {
    .presentation img{
        float: left;
        margin-right: 10px;
    }

    .social-networks button{
        flex-grow: 1;
    }
}

@media screen and (min-width: 768px) {

    /* header */
    #topbar{
        justify-content: flex-start;
    }

    /* main */
    main{
        padding: 40px;
    }

    .recipe-origin{
        display: inline;
    }

    .recipe-name{
        font-size: 32px;
    }

    .quick-notes ul{
        display:flex;
        gap: 0.8rem;
        flex-wrap: wrap;
    }

    .quick-notes li{
        width: calc(100% / 3 - 0.8rem * 2 / 3);
    }

    .social-networks button{
        flex-grow:1;
    }

    .ads{
        display: block;
    }

    .presentation img{
        float: left;
        margin-right: 10px;
    }
}

@media screen and (min-width: 992px) {
    /* main */
    /* recipe card */
    .recipe-name{
        font-size: 40px;
    }

    .quick-notes ul{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .quick-notes li{
        width:100%;
    }

    .recipe-card{
        display: flex;
    }

    .recipe-video {
        flex-grow: 1;
    }

    /* social networks buttons */

    .social-networks .label{
        display: inline;
    }

    /* footer */

    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    address{
        text-align: left;
    }
}
